<html>
    <head>
        <title>Simple form</title>
    </head>
    <body>
        <div class='eventform'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.name.label }} {{ form.name }}
                <br>
                {{ form.date.label }} {{ form.date }}
                <br>
                <br>
                {{ form.submit }}
                <br>
                {{ message }}
            </form>
        </div>
    </body>
</html>