<html>
    <head>
        <title>Change Volunteer Details form</title>
    </head>
    <body>
        <div class='UpVolform'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.f_name.label }} {{ form.f_name }}
                <br>
                {{ form.l_name.label }} {{ form.l_name }}
                <br>
                {{ form.submit }}
                <br>
                {{ message }}
            </form>
        </div>
    </body>
</html>