<html>
    <head>
        <title>Simple Home</title>
    </head>
    <body>
        <div class='homeform'>
                <form action="https://google.com">
                    <input type="submit" value="Go to Google" />
                </form>

                <form action="">
                    <input type="submit" value="Add Event" />
                </form>

                <form action="/newvol">
                    <input type="submit" value="Register a Volunteer" />
                </form>

                <form action="/viewvol">
                    <input type="submit" value="View Current Volunteers" />
                </form>

                
                
            </form>
        </div>
    </body>
</html>